
 <div class="container-fluid tam"></div> 

<nav class="navbar navbar-expand-lg  sticky-top transp7 borde">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div>
        <a class="navbar-brand" style="margin: 0 10px;" routerLink="/">
          <img src="../../../assets/Imagenes/icono.png" width="40" height="34">
          TecnoBox
        </a>
      </div>
      
      

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item margen">
            <a class="nav-link active " aria-current="page" routerLink="/aboutUs">About Us</a>
          </li>
  
          <li class="nav-item dropdown margen">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu margen" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" routerLink="/repairs">Repairs</a></li>
              <li><a class="dropdown-item" routerLink="/instalation">Installers</a></li>
            </ul>
          </li>
          
          <li class="nav-item margen">
            <a class="nav-link active" aria-current="page" routerLink="/contact">Contact Us</a>
          </li>
        </ul>
        <!--
        <form class="d-flex">
          <button type="button" class="btn btn-outline-success">Register</button>
          <button type="button" class="btn btn-success" >Login</button>
        </form>
        -->
      </div>
      
    </div>
  </nav>
