
.tam{
    height: 230px;
    background-image: url(../../../assets/Imagenes/sony.png);
    background-size: 100% 230px;
}

.borde{
    border-bottom: 2px solid #0d6efd;
}


button{
    margin: 0 3px;
    /*border: 2px solid rgb(36, 202, 36);*/
    border-radius: 10px;
    color: white;
}

.margen{
    margin: 0 15px;
    color: rgb(79, 79, 248);
}