/* You can add global styles to this file, and also import other style files */
h1{   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.transp7{
    background-color: rgba(0, 0, 0, 0.7);
}