
<h1>News</h1>
<hr>

<div class="parrafo">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque similique quisquam sed fugiat in iusto doloremque cum natus dicta, ex fugit numquam laborum sint laudantium odit accusantium eius a quo voluptatibus corporis tempore vel dolorem! Alias molestiae et eum vero aperiam nisi. Nisi autem eveniet quos, facilis animi voluptas neque tempore voluptatem aliquam beatae. Non et eaque error officiis inventore nihil vitae aut, similique tempore labore velit unde corrupti cupiditate, in commodi. Ullam neque consectetur eveniet blanditiis excepturi corrupti pariatur?</p>
</div>

