
<img src="https://www.micuponcolombia.com/assets/uploads/about/5d24f-banners-contacto.jpg" alt="">

<div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
      <div class="col-md-4" style="padding: 60px 30px 10px;">
          
        
        <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #ff0000; border-radius: 50%;"
        role="button"
        ><i class="fas fa-map-marker-alt"></i
      > </a> Av.Capitan Ustariz entre Jose Reyes Morales y Manuel Villaroel.
        <br>
        <br>          
          <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #8b8b8b; border-radius: 50%;"
        role="button"
        ><i class="fas fa-clock"></i
      > </a>Lun-Vie: 09:00 a 12:00 - 15:00 a 17:00 <br>Sabado: 09:00 a 13:00
        <br> 
        <br>
        <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #3b5998; border-radius: 50%;"
        role="button"
        ><i class="fab fa-facebook-f"></i
      > </a> TecnoBox Electronic
        <br>
        <br>
        <a
        class="btn btn-success btn-floating m-1"
        style="background-color: #22d112; border-radius: 50%;"
        role="button"
        ><i class="fab fa-whatsapp"></i
      ></a> 79950440

      <div style="margin-top: 40px; padding-bottom: 0;">
        <button type="button" class="btn btn-primary" style="margin: 0 auto;">Primary</button>
      </div>

    </div>
      <div class="col-md-8">
        <div class="card-body">
          
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2263.8373796032593!2d-66.20781720698106!3d-17.39712183169626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93e373e0d9e4ab27%3A0xa2719ae9532c3e65!2sCochabamba!5e0!3m2!1ses!2sbo!4v1624385323749!5m2!1ses!2sbo" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          
        </div>
      </div>
    </div>
  </div>