
<footer class="bg-dark text-center text-white" style="margin-top: 40px;">
    <!-- Grid container -->
    <div class="container p-3 pb-0">

      
      <button type="button" class="btn btn-outline-primary" (click)="open('./register')">Register</button>
      <button type="button" class="btn btn-primary mx-3" (click)="open('./login')">Login</button>
      <p>Si ya eres cliente nuestro puedes registrarte de manera ¡Gratuita!, para poder ver el estado de su equipo y la cotización en cualquier momento.</p>
 
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:Marcelo Rocabado
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>