<!--
<table>

     <tr>
      <th *ngFor="let column of headers">
        {{column}}
      </th>
    </tr> 
    
    <tr *ngFor="let row of rows">
      <td >
        {{row.id}}
      </td>
      <td >
        {{row.login}}
      </td>
      <td >
        {{row.url}}
      </td>
    </tr>
  </table>-->

  <h1 class="margen">My custom Cards</h1>

  <div class="card border-success mb-3 margen" style="max-width: 450px;" *ngFor="let row of rows">
    <div class="card-header bg-success text-white" >{{row.id}}</div>
    <div class="card-body ">
      <h5 class="card-title">{{row.login}}</h5>
      <p class="card-text" style="text-align: center;">{{row.url}}</p>
    </div>
  </div>