
<section>
  
    <h1>Quienes somos?</h1>
  <div class="container">
    <p>
      Somos una empresa fundada el año 2015 que brinda servicios tanto de reparaciones electrónicas como instalaciones para servicios de seguridad. 
    </p>
    <p>
      Contamos con personal altamente capacitado, con más de 15 años de experiencia y que recibe actualizaciones constantemente sobre nuevas tecnologías, para poder mantenerse siempre al día y poder dar una solución  a cualquier tipo problema que se presente.
    </p>
    <p>
      Todos nuestros trabajos se realizan siempre cuidando la calidad, realizando diferentes pruebas de funcionamiento para garantizar lo mas posible el trabajo. 
    </p>
  <img src="https://st.depositphotos.com/1055791/4578/i/450/depositphotos_45782709-stock-photo-soldering-electronic-hardware-in-service.jpg" alt=""> 
  </div>
</section>

console.log("hola mundo")