
section{
    background-color: white;
    padding-bottom: 30px;
}

p{
    text-align: center;
}
h1{
    margin-bottom: 40px;
    color: #0d6efd;
    padding-top: 60px;
}

img{
    max-width: 100%;
    display: block;
    margin: 50px auto;
    border-radius: 20px;
}
img:hover{
    transform: scale(1.1);
    transition: 800ms;
    border-radius: 0;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.5);
}
