
<h1>Contacts</h1>
<hr>
<div class="parrafo">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor earum quia vel labore quibusdam alias quasi, esse minus odit aut.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt consequuntur saepe asperiores odit tempora earum eaque voluptate modi maiores quia.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum, odio.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla laboriosam dolores et labore quis? A dignissimos similique unde adipisci pariatur? Doloribus error aperiam corrupti quidem quas repellat ad, dolorum odio.</p>
</div>

