
<div class="card mb-3" style="max-width: 100%; background-color: rgba(0, 0, 0, 0.9);">
    <div class="row g-0">
      <div class="col-md-5">
        <img src="https://i.pinimg.com/originals/01/c2/e3/01c2e39fe4b3068f93f8de10bf484ef3.jpg" alt="...">
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h3 style="color: white;">God of war 4</h3>
          <br>
          <p>Un comienzo totalmente nuevo: la venganza de Kratos contra los dioses del Olimpo ha quedado atrás y ahora vive como un hombre en las tierras de los dioses y monstruos nórdicos. Será en este mundo hostil y sin piedad donde deberá luchar para sobrevivir... y donde deberá enseñar a su hijo a hacer lo mismo. Esta sorprendente recreación de God of War deconstruye los elementos centrales que definían la serie (un combate satisfactorio, una escala impresionante y una historia atrapante) y los combina de un modo totalmente nuevo.</p>
            <p>Una segunda oportunidad: Kratos vuelve a asumir el rol de padre. Como mentor y protector de Atreus, un hijo decidido a ganarse el respeto de su padre, Kratos se ve obligado a controlar la ira que lo ha caracterizado durante tanto tiempo, ya que ahora se encuentra en un mundo muy peligroso con su hijo.</p>
            <p>Un mundo más oscuro y más elemental: del arte en mármol y las columnas ornamentadas del Olimpo a los salvajes bosques, montañas y cavernas típicos del relieve nórdico previkingo el juego presenta un entorno nuevo y único, con su propio panteón de criaturas, monstruos y dioses. Al hacer más hincapié en explorar y descubrir, el mundo alentará a los jugadores a adentrarse en cada rincón de los increíbles pero peligrosos paisajes de God of War, que son, sin duda, los más grandes de toda la franquicia.</p>
            <p>Un despiadado combate físico: con una cámara ubicada a la altura de los hombros que acerca la acción al jugador como nunca antes, las luchas en God of War son muy similares al panteón de criaturas nórdicas que Kratos tendrá que enfrentar, ya que son igual de magníficas, crueles y extenuantes. Una nueva arma principal y un conjunto de habilidades inéditas honran el espíritu típico de God of War y, al mismo tiempo, presentan una visión de un violento conflicto que da lugar a varias novedades dentro del género.</p>
        </div>
      </div>
    </div>
  </div>

