.tam{
    height: 220px;
    background-image: url(https://i.redd.it/itec6ost8eo51.jpg);
    margin-top: -20px;
    background-size: 100% 240px;
    background-repeat: no-repeat;

}

button{
    margin: 0 3px;
    /*border: 2px solid rgb(36, 202, 36);*/
    border-radius: 10px;
    color: white;
}