<div class="container-fluid tam"></div>

<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: rgba(0, 0, 0, 0.7); border-bottom: 3px solid blue">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div>
        <a class="navbar-brand" routerLink="/">
          <img src="https://www.freepnglogos.com/uploads/playstation-png-logo/navy-playstation-png-logo-5.png" width="40" height="34">
        </a>
      </div>
      
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/synopsis">Synopsis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/otherGames">More Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/trailer">Trailer</a>
          </li>
        </ul>

        <form class="d-flex">
          <button type="button" class="btn btn-outline-primary" (click)="open('./register')">Register</button>
          <button type="button" class="btn btn-primary" (click)="open('./login')">Login</button>
        </form>

      </div>
    </div>
  </nav>
